.Button {
  font-size: 1.1rem;
  background-color: var(--blue);
  border: none;
  box-shadow: 0px 1px 3px 0px var(--black);
  border-radius: 4px;
  color: white;
  font-family: var(--sans-serif);
}

.Button.Secondary {
  background-color: var(--gray);
}
