:root {
  --main-app-padding: 0.5rem;
}

.App {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: var(--white);
  margin: 0.5rem;
}

.Ruler {
  width: calc(100% - 1rem);
}
