:root {
  --main-app-padding: 0.5rem;
}

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  padding: var(--main-app-padding);
}

.Container {
  height: calc(100% - var(--main-app-padding));
  width: calc(100% - var(--main-app-padding));
  background-color: #ddefef;
}
